# -------------------------Iterator loops (FOR )---------------------------------

In [21]:
l=[1,3,2,5,4,6,7,545,8,4,4,3,7,4,8,4,6,4,6,34,7,32,6,3,9,21,45,32,21,34,21,19,34,6,7,4,2,5,78,5]

In [ ]:
elif 21<=i<=40

In [22]:
less_bucket=[]
greater_bucket=[]
for i in l:
    if i<=20:
        less_bucket.append(i)
    else:
        greater_bucket.append(i)
print(less_bucket,greater_bucket)

[1, 3, 2, 5, 4, 6, 7, 8, 4, 4, 3, 7, 4, 8, 4, 6, 4, 6, 7, 6, 3, 9, 19, 6, 7, 4, 2, 5, 5] [545, 34, 32, 21, 45, 32, 21, 34, 21, 34, 78]

In [20]:
even_bucket=[]
odd_bucket=[]
for i in l:
    if i%2==0:
        even_bucket.append(i)
        
    else:
        odd_bucket.append(i)

[1, 3, 5, 7, 545, 3, 7, 7, 3, 9, 21, 45, 21, 21, 19, 7, 5, 5] [2, 4, 6, 8, 4, 4, 4, 8, 4, 6, 4, 6, 34, 32, 6, 32, 34, 34, 6, 4, 2, 78]

In [18]:
even_bucket

[2, 4, 6, 8, 4, 4, 4, 8, 4, 6, 4, 6, 34, 32, 6, 32, 34, 34, 6, 4, 2, 78]

In [19]:
odd_bucket

[1, 3, 5, 7, 545, 3, 7, 7, 3, 9, 21, 45, 21, 21, 19, 7, 5, 5]

In [3]:
a=[1,4,2,6,7,4,5,3]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [4]:
even

[4, 2, 6, 4]

In [5]:
odd

[1, 7, 5, 3]

In [6]:

a=[1,5,10,42,67,45,23,40,565,6,7,3,5,6,7,4,4,7,7,4,4]

for i in a:
    if i%2==0:
        print("good",i)
    else:
        print("morning",i)

morning 1
morning 5
good 10
good 42
morning 67
morning 45
morning 23
good 40
morning 565
good 6
morning 7
morning 3
morning 5
good 6
morning 7
good 4
good 4
morning 7
morning 7
good 4
good 4

In [7]:
word="hello1" 

for w in word:
    if w=="e":
        print("hello")
    print(w)

h
hello
e
l
l
o
1

In [10]:
name="arpit"    

    
for i in name:
    if i=="p":
        print("good one")
    print(i)
    print("hello")

a
hello
r
hello
good one
p
hello
i
hello
t
hello

In [13]:
numbers=[1,3,2,5,4,6,7,9]

even=0
odd=0

for i in numbers:
    if i%2==0:
        even=even+i
    else:
        odd=odd+i

print(even,odd)

12 25

# ----------------------------STORE VALUE LOOP-------------------------

In [23]:
l=[1,2,3,1,5,7,4,11,33,21,2,4,6,8]

sums=0
for i in l:
    sums=sums+i
    
print(sums)

1 1
2 3
3 6
1 7
5 12
7 19
4 23
11 34
33 67
21 88
2 90
4 94
6 100
8 108
108

# ----------------------------RANGE FUNCTION--------------------

In [ ]:
range(start,stop(N-1),jump or direction)

In [23]:
even=[]
odd=[]
for i in range(2,20):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even,odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18] [3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
less_than_10=0
greater_than_10=0

for i in range(2,20):
    if i<10:
        less_than_10=less_than_10+i
    else:
        greater_than_10=greater_than_10+i

print(less_than_10,greater_than_10)

44 145

In [26]:
for i in range(100):
    if i%3==0 and i%5==0:
        print(i)

0
15
30
45
60
75
90

In [27]:

list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
list(range(20,-1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# --------------------INPUT FUNCTION-------------

In [41]:
values=[]
for i in range(5):
    a=int(input("enter ur number"))
    values.append(a)

enter ur number23
enter ur number12
enter ur number40
enter ur number18
enter ur number40

In [43]:
country_names=[]

for i in range(5):
    a=input("enter ur country")
    country_names.append(a)

enter ur countryindia
enter ur countryusa
enter ur countrygermany
enter ur countryaustralia
enter ur countrycanada

In [44]:
country_names

['india', 'usa', 'germany', 'australia', 'canada']